.footer{
	background-image:url("mainftoor.jpg");
	filter: grayscale(80%);
	width:1445px;
	height: 100px;
    font-size:30px;
	font-family:Californian FB;
	color:#D9D8D8;
}
}
.text{
	font-size:90px;
	font-family:Californian FB;
	color:black;
}
.photo1{
background-image: url('https://media.tenor.com/vEDZKeyoSBMAAAAd/lucid-lucid-stock.gif');
background-repeat: no-repeat;
background-size: 100% 100%;
}
.img{
	display: inline;
}